<section class="sectionMessage">
	<header class="headerMessage message_row">
		<div class="chart_message_img"></div>
        <h4 class="width80">{{name}}</h4>
        <div class="chart_message_right column">
            <img src="../../symbols/point.jpg" alt='dot' class="point"/>
            <img src="../../symbols/point.jpg" alt='dot' class="point"/>
            <img src="../../symbols/point.jpg" alt='dot' class="point"/>
        </div>
	</header>
	<div class="dialogChat">
        <p class="dialog_center">{{data}}</p>
        {{#each itemMessages}}
            {{{this}}}
        {{/each}}
	</div>
	<form class="formSendMessage message_row">
        <div class="skrepka"></div>
		<div class="message_footer">{{{ message }}}</div>
        <div class="ring">{{{ button }}} </div>
	</form>
</section>
