<div class="edit_row width100">
    <div class="edit_left">
        <div class="edit_img"></div>
    </div>
	<div class="edit_formData column">
        <div class="sectionAvatar column">
            <div class="fotoUser">
                {{{ avatar }}}

            </div>

        </div>
		<form class ='edit_data_form' action="" method="get">
			<fieldset>

				<div class="edit_inputContainer">
					{{{ email }}}
					<label for="email" class="edit_label">Почта</label>
				</div>
				<div class="edit_inputContainer">
					{{{ login }}}
					<label for="login" class="edit_label">Логин</label>
				</div>
				<div class="edit_inputContainer">
					{{{ first_name }}}
					<label for="first_name" class="edit_label">Имя</label>
				</div>
				<div class="edit_inputContainer">
					{{{ second_name }}}
					<label for="second_name" class="edit_label">Фамилия</label>
				</div>
				<div class="edit_inputContainer">
					{{{ chat_name }}}
					<label for="chat_name" class="edit_label">Имя в чате</label>
				</div>
				<div class="edit_inputContainer">
					{{{ phone }}}
					<label for="phone" class="edit_label">Телефон</label>
				</div>
				{{{ button }}}
			</fieldset>
		</form>
	</div>
</div>
