<main class="styles.edit_main">
        {{{navbar}}}
    <div class="{{styles.container}}">

            {{{avatar}}}
            <span class={{styles.name}}>{{name}}</span>
            {{{edit}}}

    </div>
</main>
