<main>
{{#if isUserLoading}}
        <div>Loading...</div>
{{else}}
  {{{navbar}}}
{{/if}}
  <div class="{{styles.container}}">
    {{#if isUserLoading}}
        <div>Loading...</div>
    {{else}}
        {{{avatar}}}
        <span class={{styles.name}}>{{name}}</span>
        {{{content}}}
    {{/if}}
  </div>
</main>

