<main class="{{styles.profile_main}}">
{{#if isUserLoading}}
        <div>Loading...</div>
{{else}}
    <div>
        {{{navbar}}}
    </div>

{{/if}}
  <div class="{{styles.container}}">
    {{#if isUserLoading}}
        <div>Loading...</div>
    {{else}}
        {{{avatar}}}
        <span class={{styles.name}}>{{name}}</span>
        {{{info}}}
    {{/if}}
  </div>
    <div class="{{styles.btns}}">

        {{{editProfile}}}
        {{{changePassword}}}
    </div>
</main>

